<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 150px;
        }

        big_label {
            display: inline-block;
            width: 250px;
            color: crimson;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="editBook-form" th:action="@{/editBook(bookId=${book.bookId})}" th:method="post" action="editBook.html">
    <h1>Информация о книге:</h1>

    <div class="row">
        <label for="id-input">ID книги:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.bookId}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Наименование книги:</label>
        <input id="holder-input" name="name" type="text" th:value="${book.name}" value="Test Book Name"/>
    </div>

    <div class="row">
        <label for="author-input">Автор:</label>
        <input id="author-input" name="authorFio" type="text" readonly="readonly" th:value="${book.author.getFIO()}" value="Author"/>
    </div>

    <div class="row">
        <label for="genre-input">Жанр:</label>
        <input id="genre-input" name="genreName" type="text" readonly="readonly" th:value="${book.genre.getName()}" value="Genre"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>

    <div class="row">
        <big_label for="holder-input">CopyRight: Tsaplin Sergey</big_label>
    </div>
</form>

</body>
</html>
