<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            width: 150px;
            display: inline-block;
        }

        label2 {
            display: inline-block;
            width: 250px;
            font-weight: bold;
            font-size: 20px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Library -->
<form id="library-form" th:action="@{/library(bookId=${book.bookId})}" th:method="post" action="library.html">
    <h1>Библиотека</h1>

    <div class="row">
        <a th:href="@{/insertBook(bookId=${book.bookId})}">Добавление книги</a>
    </div>

    <div class="row">
        <a th:href="@{/editBook(bookId=${book.bookId})}">Редактирование книги</a>
    </div>

    <div class="row">
        <a th:href="@{/deleteBook(bookId=${book.bookId})}">Удаление книги</a>
    </div>

    <div class="row">
        <label2 for="book-list"></label2>
    </div>

    <div class="row">
        <label2 for="book-list">Перечень книг</label2>
    </div>

    <table class="table table-striped table-primary">

        <thead class="ttop">
        <tr class="table-info">
            <td><b>ID</b></td>
            <td><b>Наименование книги</b> </td>
            <td><b>Автор</b> </td>
            <td><b>Жанр</b> </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookElement, iStat : ${bookList}" th:style="${iStat.odd}? 'font-weight: normal;'">
            </td><td th:text="${bookElement.getBookId()}">
            <td width="20px" th:text="${bookElement.getName()}">
            <td width="20px" th:text="${bookElement.getAuthor().getFIO()}">
            <td width="20px" th:text="${bookElement.getGenre().getName()}">
            </td>
        </tr>
        </tbody>
    </table>

</form>

</body>
</html>
